<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Dashboard</title>
</head>
<body>
  <!-- Contains html for viewing viewable options -->
    <div class="main">
        <div class="container"  style="display: flex;flex-direction: row;min-width: 300px;">
            <div class="list">
                <form method="get" action="/studentlist">
               <button type="submit">Student List</button>
            </form>

            </div>
            <div class="list">
 <form method="get" action="/interviewlist">
   <button type="submit">Interview List</button>
 </form>
            </div>
            <div class="list">
               <form method="get" action="/resultlist">
                 <button type="submit">Result List</button>
               </form>
            </div>
            <div class="list">
              <form method="get" action="/resultlist/downloadcsv">
                <button type="submit">Download CSV File</button>
              </form>
            </div>
             <div class="list">
               <form method="get" action="/jobs">
                 <button type="submit">Jobs</button>
               </form>
             </div>
        </div>
    </div>
    
</body>
</html>