<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="main">
    <div class="nav">
      <h1 style="flex-grow: 1;">Interview Results</h1>
      <a href="/dashboard" style="padding:50px">Dashboard</a>
    </div>

    <div class="container">
         <div style="display: flex;flex-direction: row;">
           <h2 style="padding: 5px;min-width: 200px;font-weight: 900;">Company Name</h2>
           <h2 style="padding: 5px;min-width: 200px;font-weight: 900;">Student Name</h2>
           <h2 style="padding: 5px;min-width: 200px;font-weight: 900;">Interview Date</h2>
           <h2 style="padding: 5px;min-width: 200px;font-weight: 900;">Interview Result</h2>
         </div>
<hr style="height:1px;color:black;width:100%;margin:10px;">
<!-- Views the result of all interviews using EJS -->
 <% for(let i=0;i<resultList.length;i++){ %>
            <div style="display: flex;flex-direction: row;">
            <h2 style="padding: 5px;min-width: 200px;"><%= interviewNames[i] %></h2>
            <h2 style="padding: 5px;min-width: 200px;"><%= studentNames[i]  %></h2>
            <h2 style="padding: 5px;min-width: 200px;"><%= resultList[i].date  %></h2>
            <h2 style="padding: 5px;min-width: 200px;"><%= resultList[i].result  %></h2>
        </div>
             <%  } %>


    </div>
</div>
</body>
</html>